<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="./CSS/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
    <header>
        <section class="header-section">
            <nav class="logo">
                <img src="./images/logo-mercado-liebre.svg" width=85% alt="logo">
            </nav>
            <nav>
                <input type="text" placeholder="Buscar Productos">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </nav>
            <nav class="header-text">
                <h4><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h4>
            </nav>
        </section>
        <div class="bar-size">
            <div>
                <ul class="bar-left">
                    <a>Tiendas Oficiales</a>
                    <a>Vender</a>
                    <a>Ayuda</a>
                    <a>Ofertas</a>
                </ul>
            </div>
            <div>
                <ul class="bar-right">
                    <a href="/register">Creá tu cuenta<i class="fa-regular fa-id-card"></i></a>
                    <a href="/login">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a>
                    <a>Mis compras<i class="fa-solid fa-basket-shopping"></i></a>
                </ul>
            </div>
        </div>
        <div class="burger-menu"><i class="fa-solid fa-bars"></i></div>
        </nav>
    </header>
    <main>
        <div class="image-front-page">
            <img src="/images/img-home-banner.jpg" width=100% alt="">
        </div>
        <section class="last-view-container">
            <h4 class="search-title">Basado en tu última visita</h4>
            <div class="last-view-products">
                <div class="product">
                    <div class="product-data">
                        <div class="product-details">
                            <div class="image-line">
                                <img src="./images/img-cafetera-moulinex.jpg" alt="cafetera">
                            </div>
                            <span class="cicle"><i class="fa-solid fa-truck"></i></span>
                            <div class="price-off">
                                <p class="precio">$6.770</p>
                                <p class="descuento">40% OFF</p>
                            </div>
                            <h5 class="title">Cafetera Moulinex</h5>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-data">
                        <div class="product-details">
                            <div class="image-line">
                                <img src="./images/img-macbook-pro-2019.jpg" alt="MacBook">
                            </div>
                            <span class="cicle"><i class="fa-solid fa-truck"></i></span>
                            <div class="price-off">
                                <p class="precio">$230.000</p>
                                <p class="descuento">20% OFF</p>
                            </div>
                            <h5 class="title">MacBook Pro 2019</h5>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-data">
                        <div class="product-details">
                            <div class="image-line">
                                <img src="./images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                            </div>
                            <span class="cicle"><i class="fa-solid fa-truck"></i></span>
                            <div class="price-off">
                                <p class="precio">$70.500</p>
                                <p class="descuento">10% OFF</p>
                            </div>
                            <h5 class="title">Samsung Galaxy S10</h5>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-data">
                        <div class="product-details">
                            <div class="image-line">
                                <img src="./images/img-tv-samsung-smart.jpg" alt="SmartTv">
                            </div>
                            <span class="cicle"><i class="fa-solid fa-truck"></i></span>
                            <div class="price-off">
                                <p class="precio">$23.200</p>
                                <p class="descuento">5% OFF</p>
                            </div>
                            <h5 class="title">SmartTv Samsung 43</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="offers-conteiner">
            <h5 class="offer-title">Oferta</h5>
            <div class="offer-products">
                <div class="product">
                    <div class="product-data">
                        <div class="product-details">
                            <div class="image-line">
                                <img src="./images/img-cafetera-moulinex.jpg" alt="cafetera">
                            </div>
                            <span class="cicle"><i class="fa-solid fa-truck"></i></span>
                            <div class="price-off">
                                <p class="descuento">40% OFF</p>
                                <p class="precio">$6.770</p>
                            </div>
                            <h5 class="title">Cafetera Moulinex</h5>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-data">
                        <div class="product-details">
                            <div class="image-line">
                                <img src="./images/img-macbook-pro-2019.jpg" alt="MacBook">
                            </div>
                            <span class="cicle"><i class="fa-solid fa-truck"></i></span>
                            <div class="price-off">
                                <p class="precio">$230.000</p>
                                <p class="descuento">20% OFF</p>
                            </div>
                            <h5 class="title">MacBook Pro 2019</h5>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-data">
                        <div class="product-details">
                            <div class="image-line">
                                <img src="./images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                            </div>
                            <span class="cicle"><i class="fa-solid fa-truck"></i></span>
                            <div class="price-off">
                                <p class="precio">$70.500</p>
                                <p class="descuento">10% OFF</p>
                            </div>
                            <h5 class="title">Samsung Galaxy S10</h5>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-data">
                        <div class="product-details">
                            <div class="image-line">
                                <img src="./images/img-tv-samsung-smart.jpg" alt="SmartTv">
                            </div>
                            <span class="cicle"><i class="fa-solid fa-truck"></i></span>
                            <div class="price-off">
                                <p class="precio">$23.200</p>
                                <p class="descuento">5% OFF</p>
                            </div>
                            <h5 class="title">SmartTv Samsung 43</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer">
            <div class="footer-item">
                <div class="icono-footer"><i class="fa-solid fa-credit-card"></i></div>
                <h5>Pagá con tarjeta o en efectivo</h5>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="footer-item">
                <div class="icono-footer"><i class="fa-solid fa-gift"></i></div>
                <h5>Envío gratis desde $ 2.500</h5>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="footer-item">
                <div class="icono-footer"><i class="fa-solid fa-user-shield"></i></div>
                <h5>Seguridad, de principio a fin</h5>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>
        <div class="copyright-text">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>