<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="./CSS/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
    <header>
        <section class="header-section">
            <nav class="logo">
                <img src="./images/logo-mercado-liebre.svg" width=80% alt="logo">
            </nav>
            <nav>
                <input type="text" placeholder="Buscar Productos">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </nav>
            <nav class="header-text">
                <h4><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h4>
            </nav>
        </section>
        <div class="bar-size">
            <div>
                <ul class="bar-left">
                    <a>Tiendas Oficiales</a>
                    <a>Vender</a>
                    <a>Ayuda</a>
                    <a>Ofertas</a>
                </ul>
            </div>
            <div>
                <ul class="bar-right">
                    <a>Creá tu cuenta<i class="fa-regular fa-id-card"></i></a>
                    <a>Ingresá<i class="fa-solid fa-right-to-bracket"></i></a>
                    <a>Mis compras<i class="fa-solid fa-basket-shopping"></i></a>
                </ul>
            </div>
        </div>
        <div class="burger-menu"><i class="fa-solid fa-bars"></i></div>
        </nav>
    </header>
    <main>
        <form action="/login" method="POST">
            <div class="login-box">
                <div>
                    <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario">
                </div>
                <div>
                    <input type="password" name="pwd" id="pwd" placeholder="Elegí tu contraseña">
                </div>
                <div class="submit-button">
                    <button>Enviar</button>
                </div>
            </div>
        </form>
    </main>
    <footer>
        <div class="footer">
            <div class="footer-item">
                <div class="icono-footer"><i class="fa-solid fa-credit-card"></i></div>
                <h5>Pagá con tarjeta o en efectivo</h5>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="footer-item">
                <div class="icono-footer"><i class="fa-solid fa-gift"></i></div>
                <h5>Envío gratis desde $ 2.500</h5>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="footer-item">
                <div class="icono-footer"><i class="fa-solid fa-user-shield"></i></div>
                <h5>Seguridad, de principio a fin</h5>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>